html
{
    box-sizing: border-box;
    font-size: 62.5%;
}
/* Estaspropiedades desfinen el tamaño de la fuemnte de tooda la pagina y afrefaer ,margenes de tipo caja*/
body{
    font-size: 1.6ren;
    font-family: 'lalo' sans-serif;
    background-color: #577dbb;

}

*,* ::before,*::after{
    box-sizing: inherit;
}
header{
    padding: 3rem 0;
}
header h1{
    color: #ffffff;
    text-align: center;
    font-size: 6rem;
}
header p{
    color: #1b1b1b;
    text-align: center;
    font-size: 3.2rem;
}
header p a {
    text-decoration: none;
    color: #4cabea;

}
.DOM {
    max-width: 120rem;
    margin: 0 auto;
}
.DOM h2{
    color: #fff;
    text-align: center;

}
.DOM nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
}
.DOM p {
    color: #2563eb;
    font-size: 20px;

}
.DOM #formulario{
    max-width: 500px;
    margin: 0 auto;
}
.DOM #formulario input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}
.DOM #formulario input[type="submit"]{
    background-color: #2563EB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color:#fff
}
.alert{
    padding: 1rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;

}
.alerr.error{
    background-color: rgb(162,0,0);
}
.alert.exito{
    background-color: rgb(7,145,7);
}